/* Barra de navegacion Syle*/

.navbar {
	font-family: 'Lato','Lucida Grande',Sans-Serif;
	font-size: 1.2em;
	font-weight: 900;
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.navbar > .nav-wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 20px 30px;
	width: 75%;
}

.navbar > .nav-wrapper > .logo img {
	width: 175px;
}

.logo {
	display: flex;
	align-items: center;
}

.navbar > .nav-wrapper > .explore-wrapper> .explore-banner {
	font-weight: 400;
	color:#e6d96a
}
.nav-wrapper > .explore-wrapper> .link-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
a:link {
	color:white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	text-decoration: none;
}

.nav-wrapper > .explore-wrapper > .link-wrapper > .spark-wrapper {
	color:#9f9b96;
	width: 120px;
	transition: 0.5s;
	padding-left: 20px;
}

.nav-wrapper>.explore-wrapper>.link-wrapper>.spark-wrapper i:hover{
	font-size: 1.1em;
}

.action-buttons-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin-left: auto;
	width: 80%;
}

#flecha {
	color: #2cd377;
}

.lupa {
	font-size: 2em;
	color: #524f4b;
}


